@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  .tabandmob{
    @media screen and  (max-width: 1440px) and (min-width: 1071px) {
        display: none;
    }
}
.Navrame {
display: flex;
width:auto;
height: 78px;
align-items: center;
position: relative;
align-items: center;
justify-content: space-between;
}

.Navrame .img {
position: relative;
flex: 0 0 auto;
}

.Navrame .div {
display: inline-flex;
align-items: center;
justify-content: center;
gap: 50px;
position: relative;
flex: 0 0 auto;
}

.Navrame .group {
position: relative;
width: 137px;
height: 33px;
}

.Navrame .overlap-group-wrapper {
width: 139px;
height: 33px;
}
.Navrame .overlap-group:hover {
transform: scale(1.1);
transition: transform 0.2s ease-in-out;
cursor: pointer;
}

.Navrame .overlap-group {
position: relative;
width: 137px;
height: 33px;
background-color: #ff5500;
}

.Navrame .text-wrapper {
position: absolute;
width: 110px;
top: 10px;
left: 13px;
font-family: Playfair Display;
font-weight: 600;
color: #ffffff;
font-size: 12px;
text-align: center;
letter-spacing: 0;
line-height: 12px;
white-space: nowrap;
transition: transform 0.2s ease-in-out;
cursor: pointer;
}
.Navrame .text-wrapper:hover {
transform: scale(1.1);
transition: transform 0.2s ease-in-out;
cursor: pointer;
}

.Navrame .shop-icon {
position: relative;
width: 25.48px;
height: 27.18px;

}
.Navrame .shop-icon:hover {
transform: scale(1.2);
transition: transform 0.2s ease-in-out;
cursor: pointer;
}
.Navrame .vvector {
position: relative;
width: 44px;
height: 21px;
}
.Navrame .vvector:hover {
transform: scale(1.2);
transition: transform 0.2s ease-in-out;
cursor: pointer;
}

.Navrame .tabmenu {
display: none; /* Hide menu by default */
list-style: none;
padding: 33px 44px 33px 44px;
margin-top: 50px;
}


.Navrame .tabmenu  li {
padding: 20px;
color:  #5c202f;
cursor: pointer;
border-bottom: 1px solid #A69F9F;
font-family: Playfair Display;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.Navrame .tabmenu {
display: none; /* Hide menu in tablet view by default */
justify-content: center;
text-align: center;
flex-direction: column;
position: absolute;
top: 45px;
right: 10px;
background-color: #ffffff;
border: 1px solid #A69F9F;
border-radius: 10px;
margin-right: 50px;
}
.tabmenu .navlogo {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 46px;
}
.tabmenu .nav-logo {
  width: 50px;
  height: 20px;
  }

.Navrame .tabmenu li {
border-bottom: 1px solid #A69F9F;
}

.Navrame .show-menu {
display: flex; /* Show menu when the hamburger is clicked */
}
.Navrame .btnn {
background-color: #5c202f; 
border: none; 
color: white; padding: 10px; 
margin-top: 36px;
}
.Navrame .btnn:hover {
  transform: scale(1.2);
transition: transform 0.2s ease-in-out;
cursor: pointer;

}

.Navrame .btnn a{
color: white;
}
.Navrame .tabmenu a {
    text-decoration: none;
color:#5c202f;
}
@media screen and (max-width: 690px) {
.Navrame {
display: none;
}

}


.mobilenavbar {
display: flex;
align-items: center;
justify-content: space-between; /* Adjust alignment */
background-color:none;
padding: 10px;
color: #5c202f;
}

.mobilenavbar .logo {
width: 100px; /* Set the width of your logo image */
}

.mobilenavbar .hamburger-menu {
display: flex;
flex-direction: column;
justify-content: space-between;
width: 30px;
height: 20px;
cursor: pointer;
transition: transform 0.2s ease-in-out; /* Add transition for smooth animation */
}

.mobilenavbar .line {
width: 100%;
height: 3px;
background-color: white;
}
.menu .mobile-icon {
  display: flex;
  width: fit-content;
  padding: 7px;
  gap: 4px;
  position: relative;
  }
  .menu .mobile-icon:hover {
    transform: scale(1.2);
transition: transform 0.2s ease-in-out;
cursor: pointer;

  }
  .menu .mobile-icon .shop-icon {
  position: relative;
  width: 7.8px;
  height: 8.31px;
  margin-left: -0.2px;
  }
  .menu .mobile-icon .icon-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: Poppins;
  font-weight: 400;
  color: #000000;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
  }
.mobilenavbar .menu {
display: none; /* Hide menu by default */
list-style: none;
padding: 33px 44px 33px 44px;
margin-top: 40px;
}
.menu .navlogo {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 46px;

}
.menu .nav-logo {
  width: 50px;
  height: 20px;
  }

.mobilenavbar .menu li {
padding: 20px;
color:  #5c202f;
cursor: pointer;
border-bottom: 1px solid #A69F9F;
font-family: Playfair Display;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


/* Add tablet view media query */
@media screen and (max-width: 1070px) and (min-width: 690px) {
.mobilenavbar {
display: none; /* Show hamburger menu in tablet view */
}
}

@media screen and (max-width: 690px) {
.mobilenavbar .hamburger-menu {
display: flex; /* Show hamburger menu in tablet view */
}

.mobilenavbar .menu {
display: none; /* Hide menu in tablet view by default */
justify-content: center;
text-align: center;
flex-direction: column;
position: absolute;
top: 45px;
right: 10px;
background-color: #ffffff;
border: 1px solid #A69F9F;
border-radius: 10px;
  margin-right: 30px;
}

.mobilenavbar .menu li {
border-bottom: 1px solid #A69F9F;
}

.mobilenavbar .show-menu {
display: flex; /* Show menu when the hamburger is clicked */
}
.mobilenavbar .btnn {
background-color: #5c202f; 
border: none; 
color: white; padding: 10px; 
margin-top: 36px;
}
.mobilenavbar .btnn:hover {
  transform: scale(1.2);
transition: transform 0.2s ease-in-out;
cursor: pointer;

}

.mobilenavbar .btnn a{
color: white;
}
.mobilenavbar .menu a {
    text-decoration: none;
color:#5c202f;
}
}



@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
  
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
     .view-cart-pop-up {
  position: absolute;
  width: fit-content;
  height: fit-content;
  background-color: #ffffff;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 58px;
  padding-bottom: 58px;
  padding-right: 33px;
  padding-left: 33px;
    top: 45px;
    right: 10px;
    border-radius: 10px;
    margin-right: 50px;
    margin-top: 40px;
}

.view-cart-pop-up .gro {
  display: flex;
  flex-direction: column; /* Set the flex-direction to column */
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #A69F9F;
  margin-bottom: 20px;
}

.view-cart-pop-up .ame {
  display: flex;
  width: auto;
  height: 20px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btnt {
  position: relative;
  background-color: #2322224a;
  border: 1px solid;
  border-color: #b3b2b2;
  position: relative;
  width: 100%;
  font-family: Playfair Display;
  font-weight: 600;
  color: #ffffff;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
  padding: 15px 12px;
  margin-top: 48px;
}



@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


@media screen and (max-width: 590px){
.carrt {
  display:none;
}
}
          .carrt {
  position: relative;
  width: 432px;
  height: 73px;
}

.carrt .group {
  position: absolute;
  width: 434px;
  height: 73px;
}

.carrt  .div {
  position: absolute;
  width: 169px;
  height: 37px;
  left: 263px;
}


.carrt  .counting {
position: relative;
width: auto;
height: 39px;


}

.carrt  .counting .element {
position: relative;
width: auto;
height: 39px;
top: 0;
left: 0; 
}

.carrt  .counting .overlap {
width: 25px;
top: 0;
left: -1px;
position: absolute;
height: 37px;
}

.carrt  .counting .vector {
top: 4px;
position: absolute;
width: 25px;
height: 22px;
left: 0;
cursor: pointer;
}
.carrt .counting .vector:hover {
  transform: scale(1.2);
}

.carrt  .counting .text-wrapper {
left: 5px;
position: absolute;
width: 19px;
top: 0;
font-family: Poppins;
font-weight: 400;
color: #000000;
font-size: 20px;
letter-spacing: 3.35px;
line-height: normal;
}

.carrt  .counting .overlap-group {
width: 27px;
top: 1px;
left: 52px;
position: absolute;
height: 37px;
}

.carrt  .counting .img {
top: 3px;
position:relative;
width: 25px;
height: 22px;
left: 1svw;
cursor: pointer;
}
.carrt .counting .img:hover {
  transform: scale(1.2);
}
.carrt  .counting .div {
left: 7px;
position: absolute;
width: 19px;
top: 0;
font-family: Poppins;
font-weight: 400;
color: #000000;
font-size: 20px;
letter-spacing: 3.35px;
line-height: normal;
}

.carrt  .counting .text-wrapper-2 {
position: relative;
width: 5px;
top: 0;
left:33px;
font-family: Poppins;
font-weight: 600;
color: #000000;
font-size: 20px;
letter-spacing: 3.35px;
line-height: normal;
}

@media screen and (max-width: 590px) {

  .carrt  .counting {
position: relative;
width: auto;
height: 26px;

}

.carrt .counting .element {
position: relative;
width: auto;
height: 26px;
top: 0;
left: 0; 
}

.carrt .counting .overlap {
width: 16px;
top: 0;
left: -1px;
position: absolute;
height: 25px;
}

.carrt .counting .vector {
top: 3px;
position: absolute;
width: 16px;
height: 14px;
left: 0;
cursor: pointer;
}
.carrt .counting .vector:hover {
  transform: scale(1.2);
}

.carrt .counting .text-wrapper {
left: 3px;
position: absolute;
width: 13px;
top: 0;
font-family: Poppins;
font-weight: 400;
color: #000000;
font-size: 13px;
letter-spacing: 2px;
line-height: normal;
}

.carrt .counting .overlap-group {
width: 18px;
top: 1px;
left: 35px;
position: absolute;
height: 25px;
}

.carrt .counting .img {
top: 2px;
position:relative;
width: 16px;
height: 14px;
left: 0svw;
cursor: pointer;
}
.carrt .counting .img:hover {
  transform: scale(1.2);
}

.carrt .counting .div {
left: 5px;
position: absolute;
width: 13px;
top: 0;
font-family: Poppins;
font-weight: 400;
color: #000000;
font-size: 13px;
letter-spacing: 2px;
line-height: normal;
}

.carrt .counting .text-wrapper-2 {
position: relative;
width: 5px;
top: 0;
left:22px;
font-family: Poppins;
font-weight: 600;
color: #000000;
font-size: 13px;
letter-spacing: 2.18px;
line-height: normal;
}

}


.carrt .close {
  position: absolute;
  width: 36px;
  height: 33px;
  top: 2px;
  left: 132px;
  cursor: pointer;
}

.carrt .fine-hair-fillers {
  position: absolute;
  width: 93px;
  top: 2px;
  left: 72px;
  font-family: Playfair Display;
  font-weight: 400;
  color: #5c202f;
  font-size: 21px;
  letter-spacing: 0;
  line-height: normal;
}

.carrt .image {
  position: absolute;
  width: 29px;
  height: 71px;
  top: 2px;
  left: 0;
  object-fit: cover;
}


.mobile-carrt {
  display:none;
}

         @media screen and (max-width: 590px){
          .mobile-carrt {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.mobile-carrt .image {
  position: relative;
  width: 45.37px;
  height: 110.49px;
  object-fit: cover;
}

.mobile-carrt .div {
  align-items: center;
  gap: 61px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.mobile-carrt .div-2 {
  align-items: center;
  gap: 25px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.mobile-carrt .div-3 {
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.mobile-carrt .text-wrapper {
  position: relative;
  width: 73px;
  height: 37.22px;
  margin-top: -1px;
  font-family: Playfair Display;
  font-weight: 400;
  color: #5c202f;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.mobile-carrt .NTW {
  position: relative;
  width: fit-content;
  font-family: Poppins;
  font-weight: 400;
  color: #000000;
  font-size: 8px;
  letter-spacing: 0.24px;
  line-height: normal;
}

.mobile-carrt .div-4 {
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.mobile-carrt .element {
  position: relative;
  flex: 0 0 auto;
  color: #000;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.mobile-carrt .group {
  position: relative;
  width: 33.64px;
  height: 16.36px;
}

.mobile-carrt .close {
  position: relative;
  width: 25px;
  height: 23px;
}
.mobile-carrt .counting {
position: relative;
width: auto;
height: 26px;

}

.mobile-carrt .counting .element {
position: relative;
width: auto;
height: 26px;
top: 0;
left: 0; 
}

.mobile-carrt .counting .overlap {
width: 16px;
top: 0;
left: -1px;
position: absolute;
height: 25px;
}

.mobile-carrt .counting .vector {
top: 3px;
position: absolute;
width: 16px;
height: 14px;
left: 0;
cursor: pointer;
}
.mobile-carrt .counting .vector:hover {
  transform: scale(1.2);
}

.mobile-carrt .counting .text-wrapper {
left: 3px;
position: absolute;
width: 13px;
top: 0;
font-family: Poppins;
font-weight: 400;
color: #000000;
font-size: 13px;
letter-spacing: 2px;
line-height: normal;
}
.mobile-carrt .counting .overlap-group {
width: 18px;
top: 1px;
left: 35px;
position: absolute;
height: 25px;
}

.mobile-carrt .counting .img {
top: 2px;
position:relative;
width: 16px;
height: 14px;
left: 0svw;
cursor: pointer;
}
.mobile-carrt .counting .img:hover {
  transform: scale(1.2);
}

.mobile-carrt .counting .div {
left: 5px;
position: absolute;
width: 13px;
top: 0;
font-family: Poppins;
font-weight: 400;
color: #000000;
font-size: 13px;
letter-spacing: 2px;
line-height: normal;
}

.mobile-carrt .counting .text-wrapper-2 {
position: relative;
width: 5px;
top: 0;
left:22px;
font-family: Poppins;
font-weight: 600;
color: #000000;
font-size: 13px;
letter-spacing: 2.18px;
line-height: normal;
}

}

.shop {
  width: 25px;
  height: 26px;
}

.shop .shop-icon {
  position: absolute;
  width: 25px;
  height: 27px;
  
}
.shop .shop-icon:hover {
transform: scale(1.2);
transition: transform 0.2s ease-in-out;
cursor: pointer;
}